 @import url("https://use.typekit.net/gos2pub.css");
 @import url("https://use.typekit.net/gos2pub.css");
 @import url("https://use.typekit.net/gos2pub.css");
 @import url("https://use.typekit.net/gos2pub.css");

 @font-face {
    font-family: ItalienPlateLight;
        src: url('./Font/ITPLight.TTF');}
 @font-face {
    font-family: ItalienPlateMedium;
        src: url('./Font/ITPMedium.TTF'); }
 @font-face {
     font-family: ItalienPlateRegular;
        src: url('./Font/ITPRegular.TTF');}
 @font-face {
    font-family: ItalienPlateBold;
        src: url('./Font/ITPBold.TTF');}
    


 :root {
    --lysgroen: #F0F4F0;
    --mellemgroen: #DFE3DC;
    --groen: #293C1F;

     
 }

 body {
     margin: 0;
    background-color: var(--lysgroen);
     /* cursor: url('images/musblad-03.svg'), auto; */
 }


 h1 {
     font-family: "permanent-marker", sans-serif;
     font-style: normal;
     display: flex;
     text-align: center;
     font-weight: 800;

     width: 90vw;
     margin-left: 5vw;
     font-size: 5vw;
     color: rgb(70, 25, 0);

     top: 0;
     margin-top: 0vw;
     padding-top: 1vw;

     /* background-color: rgba(245, 235, 219, 0.717);
  padding: 1vw 2vw;
  border-radius: 30px; */

     justify-content: center;

     position: absolute;

 }

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 5rem;
}

.rubrikTekst{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 1.5rem;
    width: 100%;
    height: 11rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 20;
}

#ptekst,
#sporgsmaal {

    font-family: ItalienPlateMedium;
    text-align: center;
    width: 86%;


    margin: 0;
    font-size: 2.7rem;
    line-height: 1.05;
    color: rgb(43, 21, 0);
}

#sporgsmaal {
    font-family: ItalienPlateBold;
    font-size: 2.9rem;
}


.billedeWrapper{
    display: flex;
    flex-direction: column;
        width: 90rem;
        align-items: center;
    

}

#ramme{
    z-index: 3;
    position: absolute;
    width: 90rem;
}

 #storyImg {
     position: relative;
     z-index: -1;
     padding-top: 9.5rem;
     width: 83rem;
 }


 .knapper {
     display: inline-block;
     width: 100%;
     margin-top: -4rem;;
     gap: 3rem;
     justify-content: space-evenly;
     display: flex;
     justify-content: center;
    align-items: center;
     position: absolute;
     z-index: 20;
 }

 .btnvalg , .btnvalg2 {
     /* position: absolute; */
     display: inline-block;
     justify-content: center;
     margin-top: 0rem;
     align-items: center;


     cursor: pointer;
     gap: 2rem;
     justify-content: space-evenly;
     display: flex;
     justify-content: center;




 }

 .btnvalg img,  .btnvalg2 img {
     /* position: absolute; */
     position: relative;
     z-index: 1;
     width: 30rem;
     height: auto;
     /* border: 1px solid green; */
 }



 #h2tekst {
     /* position: relative; */
     position: absolute;
     margin: 0;
     /* top: 0; */
     
     max-width: 28rem;

     vertical-align: middle;
     text-align: center;
     z-index: 10;

     color: rgb(77, 37, 0);

     font-family: ItalienPlateBold;
     font-weight: 600;
     font-size: 3rem;
 }


 /* .btn-color {
     /* position: relative; 
     position: absolute;
     margin: 0;
     top: 0;
     margin-top: 0vw;
    max-width: 28rem;

     vertical-align: middle;
     text-align: center;
     z-index: 10;

     color: rgb(77, 37, 0);

     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: 600;
    font-size: 4rem;
 } */



 .btnvalg:hover {
     cursor: pointer;
 }



 /* Normal devices (720p HD) */
 @media only screen and (min-width: 1200px) {
     
    main {
            width: 100%;
            margin-top: 3rem;
        }

        .rubrikTekst {
            margin-top: 0.5rem;
            width: 58%;
            height: 6.5rem;
            gap: 0.6rem;
        }
    
        #ptekst, #sporgsmaal {
            width: 86%;
    
    
            margin: 0;
            font-size: 1.3rem;
            line-height: 1.05;
        }
            #sporgsmaal {
                font-size: 1.5rem;
            }
    
        .billedeWrapper {
            width: 55rem;
        }
    
        #ramme {
            z-index: 3;
            width: 55rem;
        }
    
        #storyImg {
            z-index: -1;
            padding-top: 6.8rem;
            width: 49rem;
        }



        .knapper {
            width: 100%;
            margin-top: -1.5rem;
            
            gap: 4rem;
            z-index: 20;
        }
    
        .btnvalg,
        .btnvalg2 {
            gap: 4rem;
        }
    
        .btnvalg img,
        .btnvalg2 img {
            z-index: 1;
            width: 18rem;
            height: auto;
        }
    
        #h2tekst {
            max-width: 18rem;

            font-family: ItalienPlateBold;
            font-size: 1.7rem;
        }
 }




/* Normal devices (1080p Full HD) */
@media only screen and (min-width: 1900px) {

    main {
        width: 100%;
        margin-top: 5rem;
    }

    .rubrikTekst {
        margin-top: 0.5rem;
        width: 62%;
        height: 10rem;
        gap: 1rem;
    }

    #ptekst,
    #sporgsmaal {
        width: 86%;


        margin: 0;
        font-size: 1.8rem;
        line-height: 1.05;
    }

    #sporgsmaal {
        font-size: 2rem;
    }

    .billedeWrapper {
        width: 80rem;
    }

    #ramme {
        z-index: 3;
        width: 80rem;
    }

    #storyImg {
        z-index: -1;
        padding-top: 9.8rem;
        width: 71.5rem;
    }



    .knapper {
        width: 100%;
        margin-top: -2rem;

        gap: 4rem;
        z-index: 20;
    }

    .btnvalg,
    .btnvalg2 {
        gap: 4rem;
    }

    .btnvalg img,
    .btnvalg2 img {
        z-index: 1;
        width: 25rem;
        height: auto;
    }

    #h2tekst {
        max-width: 28rem;

        font-family: ItalienPlateBold;
        font-size: 2.5rem;
    }
}




 /* Extra large devices (2K QHD) 1440p */
 @media only screen and (min-width: 2560px) {

     main {
         width: 100%;
         margin-top: 5rem;
     }

     .rubrikTekst {
         margin-top: 0.5rem;
         width: 58%;
         gap: 1.2rem;
         height: 13rem;
     }

     #ptekst,
     #sporgsmaal {
         width: 86%;


         margin: 0;
         font-size: 2.5rem;
         line-height: 1.05;
     }

     #sporgsmaal {
         font-size: 2.7rem;
     }

     .billedeWrapper {
         width: 105rem;
     }

     #ramme {
         z-index: 3;
         width: 105rem;
     }

     #storyImg {
         z-index: -1;
         padding-top: 13rem;
         width: 94rem;
     }



     .knapper {
         width: 100%;
         margin-top: -3rem;

         gap: 3rem;
         z-index: 20;
     }

     .btnvalg,
     .btnvalg2 {
         gap: 4rem;
     }

     .btnvalg img,
     .btnvalg2 img {
         z-index: 1;
         width: 30rem;
         height: auto;
     }

     #h2tekst {
         max-width: 28rem;

         font-family: ItalienPlateBold;
         font-size: 2.8rem;
     }
 }


 /* Extra large devices (4K UHD) 2160p – 3840 x 2160 pixels */
 @media only screen and (min-width: 3840px) {

     main {
         width: 100%;
         margin-top: 7rem;
     }

     .rubrikTekst {
         margin-top: 0.5rem;
         width: 58%;
        gap: 1.9rem;
         height: 20rem;
     }

     #ptekst,
     #sporgsmaal {
         width: 86%;


         margin: 0;
         font-size: 3.8rem;
         line-height: 1.05;
     }

     #sporgsmaal {
         font-size: 4rem;
     }

     .billedeWrapper {
         width: 160rem;
     }

     #ramme {
         z-index: 3;
         width: 160rem;
     }

     #storyImg {
         z-index: -1;
         padding-top: 19.5rem;
         width: 143.5rem;
     }



     .knapper {
         width: 100%;
         margin-top: -4rem;

         gap: 8rem;
         z-index: 20;
     }

     

     .btnvalg img,
     .btnvalg2 img {
         z-index: 1;
         width: 48rem;
         height: auto;
     }

     #h2tekst {
         max-width: 44rem;

         font-family: ItalienPlateBold;
         font-size: 4.2rem;
     }
 }

 /* Extra large devices 4320p (8K UHD) – 7680 x 4320 pixels. */
 @media only screen and (min-width: 7680px) {

     main {
         width: 100%;
         margin-top: 18rem;
     }

     .rubrikTekst {
         margin-top: 2.7rem;
         width: 58%;
         gap: 4rem;
         height: 37rem;
     }

     #ptekst,
     #sporgsmaal {
         width: 86%;


         margin: 0;
         font-size: 7.8rem;
         line-height: 1.05;
     }

     #sporgsmaal {
         font-size: 8.1rem;
     }

     .billedeWrapper {
         width: 310rem;
     }

     #ramme {
         z-index: 3;
         width: 310rem;
     }

     #storyImg {
         z-index: -1;
         padding-top: 38rem;
         width: 278rem;
     }



     .knapper {
         width: 100%;
         margin-top: -7rem;

         gap: 12rem;
         z-index: 20;
     }



     .btnvalg img,
     .btnvalg2 img {
         z-index: 1;
         width: 90rem;
         height: auto;
     }

     #h2tekst {
        
         max-width: 80rem;

         font-family: ItalienPlateBold;
         font-size: 8rem;
     }
 }